@import '../../../styles/vars';

footer .cont-icons div
{
    align-items: center;
    margin:10px 25px;
    transition: 0.5s ease;
}    

footer .cont-icons div:hover
{
    cursor: pointer; 
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
footer .cont-icons div img{
    height: 9vh;
    width: 9vh;
    object-fit: cover;
}
@media (max-width:640px){
    footer .cont-icons div
    {
        margin:12px 20px;
    }  
    footer .cont-icons div img{
        height: 6vh;
        width: 6vh;
    }
    
    }